.news-app {
    display:inline-flex;
    justify-content:left;
}

.news-item {
    width: 400px;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 30px;
}

.navbar {
    text-align: center;
    padding: 80px;
}

.navbar-nav {
    text-align: center;
}


.news-img {
    width: 300px;
}

main {
	margin: 0 auto;
	max-width: 75%;
    padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'cursive', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'cursive', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
}

header a {
  color: var(--light);
}

/* Start of the Header section */
header {
    position: sticky; 
    top: 0;
    padding: 20px 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 0;
    color:  #ffff;
    background-position: center;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    text-align: left;
}

header a {
    text-decoration: none;
    color: blue;
}
header ul {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'cursive', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    font-size: 20px;
}

header nav ul li a {
    display: inline-block;
    margin-left: 45px;
}

header nav ul li a:hover {
    background: orange;
    color: red;
    border-radius: 15px;
    text-shadow: none;
}

header ul li {
    display: inline;
}